.background{
    -fx-background-color: #66dc3a;
}


.button{
    -fx-background-color:
            linear-gradient(cornflowerblue, dodgerblue),
            radial-gradient(center 50% -40%, radius 200%, lightskyblue 45%, deepskyblue 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 10, 0.5 , 0 , 1 );

}

#word-button{
    -fx-background-color:
            linear-gradient(cornflowerblue, dodgerblue),
            radial-gradient(center 50% -40%, radius 200%, lightskyblue 45%, deepskyblue 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 10, 0.5 , 0 , 1 );
}

.text-field{
    -fx-background-color: #d4f1ff;
    -fx-effect: dropshadow(gaussian, #1520ff, 6, 0.6, 0, 0);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
}

.text-area{
    -fx-background-color: #d4f1ff;
    -fx-effect: dropshadow(gaussian, #1520ff, 6, 0.6, 0, 0);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
}

#labelSent{
    -fx-font-size: 27;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

